{% extends 'mini_blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h1 class="text-white my-5">About us</h1>
    <div class="h-80 p-5 text-white bg-dark rounded-3">
        <p>Hey there <br> We are the best night owl community for people like you and me whose dreams don't let them sleep peacefully at night and who want to achieve greater heights in life beyond the average can think of hence who like to enhance their skills in the focusable silence we are here to become your companion in your tough journey.</p>
        <p>Night-owls is the place to share your midnight epiphanies with fellow owls to eradicate loneliness and depression because that slows down the hustlers and community might help to increase productivity and reduce the chances of getting lost in the dark. So, come join what are you waiting for?</p>
</div>
{% endblock content %}