{% extends 'mini_blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h1 class="text-white my-5">About us</h1>
    <div class="h-80 p-5 text-white bg-dark rounded-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ea quaerat, eligendi perferendis sequi atque commodi porro qui sapiente fugit temporibus illo cumque doloremque praesentium dolores optio perspiciatis distinctio aliquam ab adipisci laudantium fugiat facere tenetur laboriosam. Illo neque, pariatur minus quae obcaecati eos mollitia tenetur optio perspiciatis, quia suscipit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ea quaerat, eligendi perferendis sequi atque commodi porro qui sapiente fugit temporibus illo cumque doloremque praesentium dolores optio perspiciatis distinctio aliquam ab adipisci laudantium fugiat facere tenetur laboriosam. Illo neque, pariatur minus quae obcaecati eos mollitia tenetur optio perspiciatis, quia suscipit.</p>
</div>
{% endblock content %}